#barraFooter {
	    min-height: 30px;
	    border: 1px solid transparent;
}

span.text-muted{
	margin: 5px;
}

.topMargen {
	margin-top: 2px;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.7;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url(../images/icon_top.png) no-repeat;
}

div.thumbnail.text-center {
	width: 255px;
	height: 390px;
}


.grow:hover
{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}

.fade
{
        opacity:1;
}
.fade:hover
{
        opacity:0,5;
}